@page "/ForgotPassword"

@model ForgotPasswordModel

@{
	ViewData["Title"] = "Forgot your password?";
}

<div class="card card-md">
	<div class="card-body">
		<h2 class="card-title text-center mb-4">Forgot password</h2>
		<form method="post">
			<p class="text-muted mb-4">Enter your email address and password reset link will emailed to you.</p>
			<div class="mb-3">
				<label class="form-label">Email address</label>
				<input asp-for="Input.Email" type="email" class="form-control" placeholder="your@email.com" autocomplete="off">

				<span asp-validation-for="Input.Email" class="text-danger small"></span>
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger mb-2 small" role="alert"></div>

			<div class="form-footer">
				<button class="btn btn-primary w-100">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path><path d="M3 7l9 6l9 -6"></path></svg>
					Send me Link
				</button>
			</div>
		</form>
	</div>
</div>

<div class="text-center text-muted mt-3">
	Reset password completed?
	<a href="/Login" tabindex="-1">Login</a>
</div>

@section Scripts {
	<partial name="/Areas/Identity/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}