@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
}

<div class="card card-md">
	<div class="card-body">
		<h2 class="h2 text-center mb-4">Reset your password</h2>
		<form method="post">
			<input asp-for="Input.Code" type="hidden" />
			<div class="mb-3">
				<label class="form-label">Email address</label>
				<input asp-for="Input.Email" type="email" class="form-control" placeholder="your@email.com" autocomplete="off">

				<span asp-validation-for="Input.Email" class="text-danger small"></span>
			</div>
			<div class="mb-2">
				<label class="form-label">
					Password
				</label>
				<input asp-for="Input.Password" type="password" class="form-control" placeholder="Your password">

				<span asp-validation-for="Input.Password" class="text-danger small"></span>
			</div>
			<div class="mb-2">
				<label class="form-label">
					Confirm Password
				</label>
				<input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">

				<span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger mb-2 small" role="alert"></div>

			<div class="form-footer">
				<button type="submit" class="btn btn-primary w-100">Reset</button>
			</div>
		</form>
	</div>
</div>
<div class="text-center text-muted mt-3">
	Reset password completed?
	<a href="/Login" tabindex="-1">Login</a>
</div>

@section Scripts {
	<partial name="/Areas/Identity/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}