@inherits LayoutComponentBase

<PageTitle>Dashboard</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <div class="page">
            <!-- Sidebar -->
            <NavMenu />

            <div class="page-wrapper">
                @Body

                <footer class="footer footer-transparent d-print-none">
                    <div class="container-xl">
                        <div class="row text-center align-items-center flex-row-reverse">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@inject NavigationManager navManager

@code {

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        var user = (await AuthStat).User;

        if (!user.Identity.IsAuthenticated)
        {
            navManager.NavigateTo($"/Login");
        }
    }
}