@page "/"

@layout EmptyLayout

<div class="row justify-content-center w-100  text-center" style="padding-top:15vh;">
	<div class="col-auto">
		<img src="/logo.png" alt="Logo" width="95" height="95" />
		<div class="d-sm-flex mt-5">
			<a href="/Register" class="btn btn-lg btn-dark px-4 shadow">Register</a>
			<h5 class="m-sm-3 m-2 text-dark">OR</h5>
			<a href="/Login" class="btn btn-lg shadow px-4 btn-link">Login</a>
		</div>
	</div>
</div>