@attribute [Route(PageRoutes.support)]

<PageTitle>Support</PageTitle>

<!-- Page header -->
<div class="page-header d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
					Support
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- Page body -->
<div class="page-body">
	<div class="container-xl">
		<div class="row row-deck row-cards">
			<div class="col-12">
				<div class="card shadow-sm">
					<div class="card-body">
						<p>Feel free to contact us with any issue or questions.</p>
						<div class="d-flex">
							<h4 class="me-1">Account Manager: </h4> Perry
						</div>
						<div class="d-flex">
							<h4 class="me-1">Email:</h4>
							<a href="mailto:contact@ProjectTemplates.com">contact@ProjectTemplates.com</a>
						</div>
						<div class="d-flex">
							<h4 class="me-1">Skype: </h4> perrykmm
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>